body, html, .row
{
  max-width: 1000px;
  margin: 0px auto;
  padding:0px;

}

/* #nav{
  position: fixed;
} */
/* selecting banner of the index page */
#banner{
  width: 100%;
  height: 400px;
  background-color: #eff9ff;
  background-image: url(../images/runner.png);
  background-repeat: no-repeat;
}

#banner img{
  max-width: 50%;
  float: right;
}

/* Class_banner is selecting the banner in the class_details pages. */
#class_banner{
  background-color: #eff9ff;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(10%);
  /* background-attachment: fixed;
  background-position: 85% center; */
}

#offer_banner{
  width: 100%;
  height: 300px;
  background-color: #eff9ff;
  background-image: url(../images/offer-banner.jpg);
  background-repeat: no-repeat;
  
}

.light_background
{
  background-color: #ffffff24;/* this is a white and transparent background to beused behind dark text */


}
.light-gray
{
  background-color: #fbfbfb;
}




.jumbotron{
  /* background-image: url(../images/runner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% center;
  background-size: 40%; */

}
.card h4{
  letter-spacing: 0.265em;
}
#footer_box
{
  text-align: center;
  margin:auto;
  text-decoration:none;
}
#footer_box a
{

  text-decoration:none;
  color:#3f6282;
}
#footer_box :hover
{
  text-decoration:none;
  color:#111315;
}


#footer_box i
{
  color:white;
  font-size: 1.6rem;
}
/* defining color of golden stars in registration page */
#registration_page i
{
  color: #eccf30;
}
tr:nth-child(odd) {
  background: #fff4cf;
}

tr:nth-child(even) {
  background: #fff;
}

tr:hover {
  background: #ddd;
  cursor: pointer;
}


.testimonial_manage:nth-child(odd) {
background: #fff;
}

.testimonial_manage:nth-child(even) {
background: #fff4cf;
}

.contactus_manage:nth-child(odd) {
background: #fff;
}

.contactus_manage:nth-child(even) {
background: #fff4cf;
}


/* the following id selects the search box in the classes list in the admin manage page */
#myInput {
  background-image: url('../images/searchicon.png');
  background-size: 30px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 12px;
}

#login
{
	margin:8.5% 0%;
	position: relative;
}
